<a href="https://colab.research.google.com/github/trishulkumar/python/blob/master/564_AI_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle

In [37]:

#with 3 sides 
a=int(input("Enter side1:"))
b=int(input("Enter side2:"))
c=int(input("Enter side3:"))
s=float((a+b+c)/2)
print(s)
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("area of triangle is %0.2f"%area)

Enter side1:3
Enter side2:4
Enter side3:5
6.0
area of triangle is 6.00

2.	Take a string from end user and check if the value is palindrome or not

In [40]:
s=str(input())
if s is s[::1]:
  print(" palindrome")
else :
  print(" not palindrome")

malayalam
 palindrome

3.	Write a program that reads a year from the user and displays a message Indicating whether or not it is a leap year.

In [36]:
year = int(input("Enter year: "))
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

Enter year: 2000
2000 is a leap year

4.	 Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.
Input: “ This program converts spaces into hyphen”
      Output:     “ This-program-converts-spaces-into-hyphen”

In [53]:
a=str(input("enter a string "))
print(a.replace(" ","-"))

enter a string the future google ceo
the-future-google-ceo

5.	Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [54]:
yo=str(input("enter string "))
print(sorted(set(yo.split(","))))

enter string zeebra,yuvraj,dhoni,anderson,miraj,siraj.virat,sachintendulkar,thrishul,achu
['achu', 'anderson', 'dhoni', 'miraj', 'sachintendulkar', 'siraj.virat', 'thrishul', 'yuvraj', 'zeebra']

6.	Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
s=int(input("Enter montly salary:"))
if s<=250000:
  print("No tax")
elif 250001<=s and s<=500000:
  print("Tax rate is 5%")
  print("Tax amount=",(s*5)/100)
elif 500001<=s and s<=750000:
  print("Tax rate is 10%")
  print("Tax amount=",(s*10)/100)
elif 750001<=s and s<=1000000:
  print("Tax rate is 15%")
  print("Tax amount=",(s*15)/100)
elif 1000001<=s and s<=1250000:
  print("Tax rate is 20%")
  print("Tax amount=",(s*20)/100)
elif 1250001<=s and s<=1500000:
  print("Tax rate is 25%")
  print("Tax amount=",(s*25)/100)
else:
  print("Tax is 30%")
  print("Tax amount=",(s*30)/100)

7.	Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [59]:
list=[11,33,50]
for i in list:
  print(i,end="")

113350


8.	Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [60]:
days=int(input("enter days "))
hrs=int(input("enter hours "))
min=int(input("enter minutes "))
sec=int(input("enter seconds "))
print((days*86400)+(hrs*3600)+(min*60)+sec)

enter days 1
enter hours 1
enter minutes 1
enter seconds 1
90061

9.	Sort 3 Integers : 
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [69]:
num=[1,11,3]
sorted=[]
for i in range(3):
  x=max(num)
  num.remove(x)
  sorted.append(x)
print(sorted)

[11, 3, 1]

10.	Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [72]:
year=int(input("enter year "))
month=int(input("enter month "))
date=int(input("enter date "))
if year%4==0 and year%100!=0 or year%400==0:
  if month==2:
    month_len=29
  else:
    month_len=28
elif month in (1,3,5,7,8,10,12):
  month_len=31
else:
  month_len=30
if date<month_len:
  date+=1
else:
  date=1
  if month==12:
    month=1
    year+=1
  else:
    month+=1
print(year,"-",month,"-",date)

enter year 2020
enter month 2
enter date 30
2020 - 3 - 1

11.	Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [70]:
lst=[45,3,2,89,72,1,10,7]
p=1
for i in range(len(lst)):
  p=p*lst[i]
print(p)

121111200

12.	Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
l=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

13.	 Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [74]:
a=(5,6,8,3,9,1)
out_list=[]
out_list.append(a[0])
for i in range(len(a)-1):
  x=out_list[i]*a[i+1]
  out_list.append(x)
print("out_list= ",out_list)

out_list=  [5, 30, 240, 720, 6480, 6480]

14.	 Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [73]:
a=int(input("enter number "))
a=str(a)
lst=list(a)
for i in range(len(lst)):
  lst[i]=int(lst[i])
print(lst)

enter number 1234567876543
[1, 2, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3]

15.	Write a program that finds the longest palindromic substring of a given string

In [ ]:

def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

16.	 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:

1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:

a=input("enter digit ")
b=input("enter digit ")
if b in a:
  print("1")
else:
  print("0")

17.	  POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
•	emptying a vessel,
•	filling a vessel,
•	pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))